
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  background-color: hsl(185, 75%, 39%);
  background-image:
    url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top -500px left -300px,
    bottom -500px right -300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 350px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  position: relative; /* IMPORTANT */
}

.card-image img {
  width: 100%;
  display: block;
}


.profile-img {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.main {
  margin-top: 60px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.age {
  margin-left: 6px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.location {
  margin-top: 6px;
  font-size: 14px;
  color: hsl(227, 10%, 46%);
}

hr {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 25px 0;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.stat h3 {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.stat p {
  margin-top: 6px;
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(227, 10%, 46%);
}
