* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
}

nav {
  margin: 50px;
}

main {
  display: flex;
  padding: 0px 100px;
}

.intro-img {
  height: 450px;
  width: 1500px;
}

.intro-img img {
  width: 100%;
  height: 100%;
}

.content {
  padding-top: 40px;
  padding-right: 100px;
  padding-left: 50px;
}

header {
  color: white;
  font-size: 20px;
}

.content-para {
  margin-top: 50px;
  color: rgb(214, 212, 212);
  font-size: 18px;
}

button {
  color: hsl(257, 40%, 49%);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border: none;
  margin-top: 50px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: hsl(300, 69%, 71%);
  color: rgb(220, 220, 220);
}
