* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: hsl(234, 12%, 34%);
  width: 600px;
  margin: 50px auto;
}

.main_title {
  font-size: 40px;
}

.sub_title {
  font-size: 40px;
  font-weight: 700;
}

.para {
  max-width: 600px;
  text-align: center;
  font-size: 18px;
}

.card-container {
  display: grid;
  gap: 20px 80px;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 250px;
  width: 350px;
  color: hsl(234, 12%, 34%);
}

.card p {
    color: hsl(212, 6%, 44%);
}
.supervisor {
  grid-column: 1;
  grid-row: 1 / span 2;
  border-top: 5px solid hsl(180, 62%, 55%);
}

.team {
  grid-column: 2;
  grid-row: 1;
  border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
  grid-column: 2;
  grid-row: 2;
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  grid-column: 3;
  grid-row: 1 / span 2;
  border-top: 5px solid hsl(212, 86%, 64%);
}

.card img {
  height: 50px;
  position: relative;
  left: 250px;
  top: 50px;
}
