body {
  margin: 0;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  margin: 200px auto 0;
  max-width: 1100px;
  height: 400px;
  flex-direction: row-reverse;
  background-color: hsl(244, 37%, 16%);
  border-radius: 10px;
  overflow: hidden;
}

.sub-container {
  flex: 1;
  padding: 25px 100px 25px 80px;
}

.img-container {
  flex: 1.2;
  position: relative;
}

.img-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(277, 64%, 61%, 0.6);
  z-index: 1;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
}

.title span {
  color: hsl(277, 64%, 61%, 0.6);
}

.title h1 {
  font-size: 40px;
}

.para p {
  font-size: 18px;
  color: hsla(0, 0%, 100%, 0.6);
}

.table-container ul {
  display: flex;
  padding: 0;
  margin-top: 50px;
  list-style: none;
  gap: 55px;
}

.table-container ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.table-container h1 {
  font-size: 20px;
  padding: 0;
  margin-top: 10px;
  margin-left: 0;
}

.table-container p {
  font-size: 15px;
  margin: 0;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 0;
}
