* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 0px left 0px, bottom 10px right 0px;
}

.main-container {
  margin: 70px 250px;
}

.container {
  display: flex;
}

.h-container {
  width: 45%;
  padding-right: 150px;
}

.h-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: hsl(300, 43%, 22%);
}

.h-container p {
  font-size: 16px;
  color: hsl(300, 8%, 60%);
  line-height: 1.5;
}

.card {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 22px;
  margin: 20px;
  text-align: center;
  border: 1px solid hsl(300, 8%, 90%);
  border-radius: 5px;
  background-color: hsla(304, 71%, 32%, 0.11);
  width: fit-content;
}

.rating.read-only {
  font-size: 25px;
  color: rgba(233, 199, 5, 0.842);
  pointer-events: none;
  user-select: none;
}
.card p {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 14px;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}

.first-card {
  margin-left: 0;
}
.second-card {
  margin-left: 50px;
}
.third-card {
  margin-left: 100px;
}

.box-container {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.box {
  background-color: hsl(300, 43%, 22%);
  color: rgba(255, 255, 255, 0.685);
  margin-right: 20px;
  border-radius: 5px;
  padding: 30px 40px;
  width: 320px;
  height: 220px;
}

.h-box {
  display: flex;
  align-items: center;
}

.box img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name-role {
  margin-left: 20px;
}

.box p {
  font-size: 15px;
  margin-top: 15px;
  line-height: 1.3;
}

.name-role h4 {
  color: hsl(333, 80%, 67%);
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
}

.name-role h3 {
  color: rgba(255, 255, 255, 0.831);
}

.first-box {
  margin-top: 0;
}

.second-box {
  margin-top: 30px;
}

.third-box {
  margin-top: 60px;
}
