* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 700px;
  background-color: white;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sub-container {
  padding: 50px;
}

.sub-container h3 {
  color: hsl(179, 62%, 43%);
  font-size: 30px;
  padding-bottom: 20px;
}

.sub-container h5 {
  color: hsl(71, 73%, 54%);
  font-size: 20px;
  padding-bottom: 20px;
}

.sub-container p {
  color: hsl(218, 22%, 67%);
}

.split-container {
  display: flex;
  height: 280px;
}

.first {
  width: 100%;
  height: 100%;
  background-color: hsl(179, 60%, 36%);
  border-bottom-left-radius: 15px;
  padding: 25px 50px;
  color: hsl(204, 43%, 93%);
}

.first h3 {
  font-size: 22px;
  line-height: 50px;
}

.inline-b {
  display: flex;
  align-items: center;
  margin: 10px;
}

.inline-b span {
  margin-left: 10px;
  color: hsl(218, 11%, 71%);
}

.first p {
  font-size: 17px;
}

.first button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  margin-top: 25px;
  color: aliceblue;
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
}

.second {
  width: 100%;
  height: 100%;
  background-color: hsl(179, 62%, 43%);
  border-bottom-right-radius: 15px;
  padding: 25px 50px;
  color: hsl(200, 12%, 86%);
}

.second h3 {
  font-size: 22px;
  line-height: 50px;
}

.second p {
  font-size: 17px;
  padding-right: 55px;
}
